<%= erb(:header, :layout => false) %>

<h1>Admin Interface</h1>
What up?
<ul>
	<li><a href="/admin/entry/new">New entry</a></li>
	<li><a href="/admin/entry/delete">Delete entry</a></li>
	<li><a href="/admin/entry/edit">Edit entry</a></li>
	<li><a href="/admin/stats">Look at statistics</a></li>
	<li><a href="http://logout:byebye@blog.marc-seeger.de">Logout</a></li>
	<li><a href="/">View homepage</a></li>
</ul>

<%= erb(:footer, :layout => false) %>
