  
<div class="post">
  <h1><%= @post.title %></h1>
  	<p><%= @post.body_html %></p>
  	<div class="meta">
  	 Written by momo on an ancient typewriter. Date: <%= @post.date_created %>
  	</div>
</div>
